body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
    min-width: 600px;
    text-shadow: 0 0 1px #475872;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
    padding-top: 10px;
}

h2 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 26px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 300px;
    margin: 15px;
    border-radius: 7px;
    font-size: 20px;
}

.container {    
    background: rgba(71, 88, 114, .6);
    border: 2px solid #1C3541;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 30px;
}

#increment-btn {
    background: #E9CF9C;
    color: black;
    text-shadow: 0 0 1px whitesmoke;
}

#save-btn {
    background: #475872;
    color: #fff;
}

#reset-btn {
    background: #AF5D63;
    width: 200px;
    color: whitesmoke;
}

#count-el, 
#total-el {
    font-size: 35px;
}

#record-section {
    border-top: 2px solid #1C3541;
    border-block: 2px solid #1C3541;
    background: rgba(218, 219, 211, .9);
    color: #1C3541;
}